html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}


.season-container {
    margin-bottom: 30px;
    border: 1px solid #e0e0e0; 
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 8px;
}


.season-container h3 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}


.month-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #fff; 
}


.month-card img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    border-bottom: 1px solid #eee; 
}


.month-card-body {
    padding: 15px;
    text-align: center;
    font-size: 1.1em; 
    color: #555;
}



.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    justify-content: center; 
}


.col-md-4 {
    flex: 0 0 calc(33.333% - 10px); 
    max-width: calc(33.333% - 10px);
}


